#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  width: 40vw;
}

.message-list{
  padding: 0;
}

.messages-container{
  overflow: scroll;
  height: 75vh;
  /* border: 1px solid white; */
  border-radius: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  box-shadow: 1px 2px 157px -14px rgba(247,245,245,0.75);
-webkit-box-shadow: 1px 2px 157px -14px rgba(247,245,245,0.75);
-moz-box-shadow: 1px 2px 157px -14px rgba(247,245,245,0.75);
}

.messages-container::-webkit-scrollbar{
  width: 0.5em;
}
.messages-container::-webkit-scrollbar-track{
  margin-block: 1.5rem;
}
.messages-container::-webkit-scrollbar-thumb{
  background: #636363;
  border-radius: 100vw;
}

.pfp-container{
  overflow: hidden;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
}
.logo{
  padding: 0;
  height: 100%;
}

.message-content{
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}

.text-message-input{
  display: flex;
  padding-top: .5rem;
}

.message-field{
  padding: 0.5rem;
  flex: 1;
  border-radius: 0.375rem;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.message-time-stamp{
  width: 20%;
  color: #3B3B3B;
}

.message{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}