#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  form * {
    margin: 0em 0.5em 0em 0em;
  }
}

.message-box {
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
  li {
    padding: 0.5em 0em 0.5em 0em;
    * {
      margin: 0.2em;
    }
  }
}

input {
  font-size: 1.25em;
}

.text-messages {
  font-size: 1.25em;
  font-weight: 420;
  width: 15em;
  display: inline-flex;
  text-wrap: balance;
}

.edit-delete {
  font-size: 0.8125em;
  display: inline-flex;
}

.info {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-size: 0.5625em;
  letter-spacing: 0.075em;
  font-feature-settings: "cv18", "zero";
}

iconify-icon {
  position: relative;
  top: 0.375em;
}
